body{
  text-align: center;
  height: 100vh;
  background-color: #ffef6e;
}

input{
  border: 3px solid #000;
}

button{
  padding: 8px 16px;
    cursor: pointer;
    box-shadow: transparent -8px 4px 20px;
    border-radius: 4px;
    transition: box-shadow 0.3s ease 0s, background-color 0.3s ease 0s;
    white-space: nowrap;
    border: 2px solid rgb(0, 0, 0);
    font-family: "Fira Code", monospace;
    font-size: 12px;
    background-color: #ff3892;
}

button:hover{
    animation: shake .5s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}


@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.App{
  height: 100vh;
}
